@import "variables.css";
#join-us-body {
  font-family: var(--body-font);
  background-color: var(--text-color-light);
  color: var(--text-color-dark);
  line-height: 1.6;
}

#thank-you {
  margin-top: 20px;
  color: green;
  font-weight: bold;
  text-align: center;
}
