/* 
6B2D5C
13505B
A0598F
51A3A3
8ECECE
*/

/* *{
    background-color: #13505B;
} */
nav, footer{
    background-color: #13505B;
    color: white;
    display: flex;
    max-height: 100px;
    text-decoration: none;
    justify-content: center;
}
#logo{
    max-height: 80px;
}
nav:hover, footer:hover{
    background-color: #51A3A3;
    color: black;
    display: flex;
    max-height: 100px;
}

.music-library{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    color: black;
    display: flex;
    justify-content: center;
}

.song{
    background-color: #fff7f7;
    color:black;
    border: #bfbebe;
    max-width: 400px;
    justify-content: space-between;
    margin: 50px;
    border-radius: 10px;
    transition: width 0.2s ease-out, height 0.4s ease-out, background-color 0.2s ease-out;

}

#sunroof:hover{
background-color: #b9181c;
}

#cruelSummer:hover{
    background-color: #e4aaca;
}

#bad:hover{
background-color: #d3d9d9;
}

#stealMyGirl:hover{
background-color: #8b898a;
}

#melt:hover{
background-color: #be9818;
}

img{
    max-height: 200px;
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;  
    }
    nav, footer {
        flex-direction: column;
    }
    header {
        height: 275px;
    }
    footer {
        height: fit-content;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .music-library {
        font-size: 25px;
    }
    footer {
        margin-top: 25px;
    }
}